Backup N8N/bkp 08_12_pre_migracao_serveer/Agente principal.json
{
  "name": "Agente principal",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        352
      ],
      "id": "4262740f-c06e-4dce-82b9-95026c291006",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Bixo 2.0!\nAgora tenho as seguintes habilidades:\n- Calcular renda pelos extratos\n- Responder sobre a renda calculada\n- Responder sobre documentos gerais \n- Conversar!",
        "options": {
          "allowFileUploads": true,
          "subtitle": "Estagiário Castelaci! ",
          "title": "Bixo 2.0!",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        128
      ],
      "id": "4ba43ea8-6fe3-403e-bbe4-df6456ccc018",
      "name": "When chat message received",
      "webhookId": "5f2faff2-5421-4777-a8e4-7aec13e5d5a9"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        352
      ],
      "id": "3b2e5d3f-6492-438d-8cdf-e347ac257ff7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RUEmAfCWDEinEfWW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        128
      ],
      "id": "2d839bff-df8e-4373-81d1-182ed3ce21d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "essa ferramente conversa com outro agente que calcula a renda a partir de dados extraidos de documentos",
        "workflowId": {
          "__rl": true,
          "value": "6xfeaI55qVQ1bbqp",
          "mode": "list",
          "cachedResultName": "Agente_calcula_renda"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input_calculo_renda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input_calculo_renda', ``, 'string') }}"
          },
          "matchingColumns": [
            "input_calculo_renda"
          ],
          "schema": [
            {
              "id": "input_calculo_renda",
              "displayName": "input_calculo_renda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        352
      ],
      "id": "265ba227-893c-43bd-b8e7-5a8cec7c41bf",
      "name": "Calcula renda"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Output_agent_docs }}{{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "Você é um assitente geral que:\n- Responder perguntas gerais sobre documentos\n- É um especialista no mercado de crédito imobiliário que envolve, home equity, financiamentos, crédito para construção, alguéis, e corretagem\n- Entende a fundo as regras de financiamento de grandes bancos como Itaú, Santander, Bradesco, Inter e Caixa, consultando suas respectivas regras sempre que necessário. \n- Calcula a renda - Utilize a ferramenta \"Calcula renda\" passando o dados extraidos do documento {{ $json.Output_agent_docs }}, sempre que necessário descobrir a renda do cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        144
      ],
      "id": "db7f451f-fc30-479e-b77e-43ede721ee8c",
      "name": "Agente principal",
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LKqdllD18jBg6TGG",
          "mode": "list",
          "cachedResultName": "Extrai_info_doc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "data0"
          ],
          "schema": [
            {
              "id": "data0",
              "displayName": "data0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c051ea7a-ae34-4fa2-9d07-1127f9ea08ad",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "791edcf0-8111-4fe4-8712-8b3c86d5c408",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        128
      ],
      "id": "5cd970d9-dbea-41a3-9911-ab2df5aff0ca",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula renda": {
      "ai_tool": [
        [
          {
            "node": "Agente principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a3bdf9c-6b55-4bf7-8a43-9f34e65c9252",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "660643d1f574e452340b0eb6aab9e7aae464846854186887ef6a8d6b7f2f7cde"
  },
  "id": "ifjI7DEjO1daLsVE",
  "tags": []
}