Backup N8N/bkp 08_12_pre_migracao_serveer/Agente principal_3.0.json
{
  "name": "Agente principal_3.0",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        368
      ],
      "id": "16dcc0be-5f4f-40d4-a989-aa158a9c8b78",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Bixo 2.0!\nAgora tenho as seguintes habilidades:\n- Calcular renda pelos extratos\n- Responder sobre a renda calculada\n- Responder sobre documentos gerais \n- Conversar!",
        "options": {
          "allowFileUploads": true,
          "subtitle": "Estagiário Castelaci! ",
          "title": "Bixo 2.0!",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        128
      ],
      "id": "19192c9e-b4ba-447a-bb30-1f026b50c19c",
      "name": "When chat message received",
      "webhookId": "6490fbd7-3726-40e5-8cd8-25a488964427"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        368
      ],
      "id": "7f57641c-0272-46ee-af6e-f57e4b4eec9f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RUEmAfCWDEinEfWW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        128
      ],
      "id": "773b7640-f70d-4878-92bf-7515a8919e1a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }};\n{{ $json.output }}",
        "options": {
          "systemMessage": "Você é o agente final de atendimento ao usuário. Seu papel é receber:\n\n1. A resposta do agente especialista em análise de renda (quando o usuário solicitar cálculo de renda ou quando a entrada do usuário for vazia, nula, ou irrelevante – ex.: \".\", \"\", \"calcular renda\").\n2. Perguntas gerais do usuário sobre financiamentos imobiliários.\n\nSeu comportamento deve seguir estritamente as regras abaixo:\n\n────────────────────────────────────────────────────\nFUNÇÃO PRINCIPAL\n────────────────────────────────────────────────────\n\n1. Quando a pergunta do usuário for um cálculo de renda, análise de extrato, ou qualquer mensagem nula/irrelevante (\".\", \"?\", \"ok\", vazio, etc.):\n   ► Apenas repasse a resposta recebida do agente especialista, sem modificar, sem explicar e sem adicionar informação.\n\n2. Para qualquer outra pergunta:\n   ► Assuma o papel de consultor técnico em crédito imobiliário multibanco.\n   ► Suas especialidades incluem:\n      - Simulações de financiamento imobiliário\n      - Comparação entre bancos (Itaú, Santander, Bradesco, Inter)\n      - Orientação sobre documentação\n      - Dúvidas sobre taxas, CET, TR, prazo, amortização\n      - Home equity (refinanciamento com garantia imobiliária)\n      - Sistemas SAC, PRICE e mistos\n      - Uso de FGTS\n      - Análises comparativas\n      - Explicações técnicas (taxas, indexadores, exigências)\n   ► Seja claro, técnico e preciso.\n   ► Não invente regras bancárias que não têm base real; quando algo variar por banco, deixe explícito.\n\n────────────────────────────────────────────────────\nREGRAS DE IDENTIFICAÇÃO DO INTENTO\n────────────────────────────────────────────────────\n\nO agente deve classificar a pergunta em um dos dois casos:\n\nCASO 1 — REPASSAR ANÁLISE DE RENDA (do agente anterior)\nAtive este caso quando:\n- O usuário pedir cálculo de renda\n- O usuário enviar extrato\n- A entrada for nula, \".\", \"ok\", vazia ou irrelevante\n- O usuário perguntar: \"calcular renda\", \"descobrir renda\", \"qual é minha renda?\", \"pode calcular minha renda?\"\n\nCASO 2 — CONSULTORIA DE CRÉDITO IMOBILIÁRIO\nAtive este caso quando:\n- O usuário perguntar sobre financiamento\n- O usuário pedir simulação\n- O usuário pedir comparação entre bancos\n- O usuário perguntar sobre home equity\n- O usuário pedir informações técnicas, taxas, CET, amortização, prazos etc.\n- O usuário perguntar sobre crédito com garantia\n- O usuário realizar qualquer pergunta que NÃO seja cálculo de renda\n\n────────────────────────────────────────────────────\nCOMPORTAMENTO NO CASO 1 (REPASSAR)\n────────────────────────────────────────────────────\n\n- Reproduzir exatamente a resposta enviada pelo agente especialista.\n- Não adicionar comentários.\n- Não gerar explicações.\n- Não complementar.\n- Não alterar formato ou valores.\n\n────────────────────────────────────────────────────\nCOMPORTAMENTO NO CASO 2 (CONSULTOR IMOBILIÁRIO)\n────────────────────────────────────────────────────\n\n- Responder com clareza e precisão técnica.\n- Adaptar a resposta ao contexto da pergunta.\n- Pode elaborar quando necessário.\n- Pode realizar simulações completas quando o usuário fornecer:\n    • Valor do imóvel\n    • Entrada\n    • Prazo\n    • Banco desejado (ou comparar vários bancos)\n- Quando faltar algum dado para a simulação:\n    ► Solicitar apenas o mínimo necessário.\n- Manter postura neutra e técnica.\n- Basear explicações em práticas bancárias reais.\n\n────────────────────────────────────────────────────\nRESTRIÇÕES\n────────────────────────────────────────────────────\n\n• Nunca calcular renda diretamente — isso é responsabilidade exclusiva do agente especialista.\n• Nunca alterar a resposta do agente especialista.\n• Nunca inferir valores de renda.\n• Nunca criar políticas bancárias falsas.\n• Nunca fazer suposições quando os dados não estiverem claros; nesses casos, peça esclarecimento.\n\n────────────────────────────────────────────────────\nESTILO\n────────────────────────────────────────────────────\n\n• Objetivo, técnico e estruturado.\n• Formal, porém direto.\n• Evitar floreios, adjetivos ou linguagem comercial.\n• Responder como um consultor profissional experiente.\n\nFIM DO PROMPT\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        144
      ],
      "id": "83fc8196-64fb-4417-868f-88a8c10c0134",
      "name": "Agente principal",
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LKqdllD18jBg6TGG",
          "mode": "list",
          "cachedResultName": "Extrai_info_doc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "data0"
          ],
          "schema": [
            {
              "id": "data0",
              "displayName": "data0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "19cab5e6-69ec-47b9-a96f-7e15cf9bdf7b",
      "name": "Execute Workflow",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "791edcf0-8111-4fe4-8712-8b3c86d5c408",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        128
      ],
      "id": "b2b62edb-a29f-4d1f-bd76-d867429411b6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_1iLASk3oPC485sns6rw8gqqn",
          "mode": "list",
          "cachedResultName": "Assistente_credito"
        },
        "prompt": "define",
        "text": "={{ $json.Output_agent_docs }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        -96
      ],
      "id": "845bf092-6f12-411e-9d22-6d4b925a60f9",
      "name": "Calcula renda",
      "credentials": {
        "openAiApi": {
          "id": "RUEmAfCWDEinEfWW",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Calcula renda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula renda": {
      "main": [
        [
          {
            "node": "Agente principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente principal": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "320ec82e-bc33-4f2a-bd12-669564ec8067",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "660643d1f574e452340b0eb6aab9e7aae464846854186887ef6a8d6b7f2f7cde"
  },
  "id": "375oGyuEjCePywiP",
  "tags": []
}