Backup N8N/bkp 08_12_pre_migracao_serveer/Bixo 1.0.json
{
  "name": "Bixo 1.0",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer og5CFMLYoEFg7V4aHhs8hidQEB0ktweD"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        80
      ],
      "id": "d09eb69b-8f14-4158-acfb-c2b5857283b4",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer og5CFMLYoEFg7V4aHhs8hidQEB0ktweD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        80
      ],
      "id": "68a86e68-4254-4c9e-9574-e69690332e2b",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer og5CFMLYoEFg7V4aHhs8hidQEB0ktweD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        80
      ],
      "id": "9c9df743-7967-4fec-8501-ecfca7965146",
      "name": "HTTP Request2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node -> apenas concatena e retorna markdown unificado\nlet mdList = [];\n\nfor (const it of items) {\n  const j = it.json || {};\n  if (typeof j.markdown === 'string' && j.markdown.trim()) mdList.push(j.markdown);\n  if (Array.isArray(j.pages)) {\n    for (const p of j.pages) if (p && p.markdown) mdList.push(p.markdown);\n  }\n  if (j.document && Array.isArray(j.document.pages)) {\n    for (const p of j.document.pages) if (p && p.markdown) mdList.push(p.markdown);\n  }\n}\n\nreturn [{\n  json: {\n    markdown: mdList.join('\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        80
      ],
      "id": "57ae5f2c-b026-4a1a-925a-3d29a124f724",
      "name": "Concatena paginas geradas"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        272
      ],
      "id": "a54bb2c8-efa0-40ab-b2a2-4c8f401f878d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}{{ $('Concatena paginas geradas').item.json.markdown }}",
        "options": {
          "systemMessage": "PROMPT PARA O AGENTE: MOGUI\n---------------------------\n\nContexto:\nVocê é Mogui, assistente operacional da Castelaci Soluções Financeiras. Sua função é analisar extratos bancários ou comprovantes de pagamentos, como olerites e folhas de pagamentos de empresas, e estimar a renda do cliente a partir das **entradas** financeiras (PIX, depósitos, transferências recebidas, salários, recibos, etc.). Você receberá o extrato em texto (formatos variados). Produza uma resposta curta, padronizada e técnica. Se o usuário fizer perguntas sobre informações gerais sobre os dados analisados, responda com base na sua memoria não invente nada.\n\nObjetivo:\n- Calcular a renda mensal (ou média trimestral, quando aplicável) considerando **apenas entradas**.\n- **Não** considerar rendimentos de aplicações (poupança, CDB, juros), **não** considerar saídas (pagamentos) e **ignorar** saldos parciais/finais.\n- Converter quaisquer formatos numéricos para um padrão único antes de somar.\n- Identificar automaticamente o nome do titular no extrato; se não for possível, informar \"não identificado\".\n\nEntrada:\n- Texto do extrato (pode ser de 1 mês ou até 3 meses juntos). Pode ter colunas diferentes dependendo do banco.\n- Opcional: se o usuário fornecer explicitamente o nome do titular, use-o para confirmar/preceder a identificação automática.\n\nRegras de parsing e normalização de valores:\n1. Extraia tokens monetários (ex.: \"R$ 1.234,56\", \"1000.00\", \"1,000.00\", \"1.000,00\", \"(1.234,56)\").\n2. Normalização heurística:\n   - Se houver '.' e ',' e a ',' vier após a última '.', trate como formato BR: remova '.' (milhar) e troque ',' por '.' para conversão numérica.\n   - Se houver apenas '.' com duas casas decimais, trate como ponto decimal (ex.: 1000.00).\n   - Se houver apenas ',' com duas casas decimais, trate como decimal brasileiro (ex.: 1000,00).\n   - Remova símbolos como \"R$\", \"BRL\" antes de converter.\n   - Interprete parênteses ou sinais negativos como valores negativos (desconsiderar: saídas e saldos).\n3. Após conversão numérica, some com precisão de centavos e formate o resultado final como \"R$ 1.234,56\" (formato brasileiro).\n\nIdentificação de entradas válidas (incluir):\n- Transações de crédito com descritores claros como: \"PIX\", \"PIX RECEBIDO\",\"PIX TRANSF\", \"DEPÓSITO\", \"DEPOSITO\", \"DOC\", \"TED\", \"TRANSFERÊNCIA RECEBIDA\", \"Total de entradas\", \"Transferência recebida pelo Pix\", \"TRANSFERENCIA RECEBIDA\", \"SALÁRIO\", \"SALARIO\", \"RECIBO\", \"RECEBIMENTO\", \"RECEBIDO\", \"HONORÁRIOS\", \"COMISSÃO\".\n- Em caso de crédito sem etiqueta explícita, pode ser considerada candidata a entrada (ver heurística ambiguidade abaixo).\n\nHeurística de ambiguidade:\n- Marque uma transação como **unambiguous_incoming** se a descrição contiver termos claros: \"PIX\", \"DEPÓSITO\", \"SALÁRIO\", \"RECEBIDO\", \"RECIBO\".\n- Marque como **excluded** se contiver termos da lista de exclusão.\n- Caso não se encaixe nem em *unambiguous* nem em *excluded*, marque como **ambiguous_incoming** — Não inclua no total, mas conte esse montante para cálculo da certeza e mencione como ambíguo.\n\nExclusões (sempre ignorar):\n- Itens que contenham: \"RENDIMENTO(S)\", \"JUROS\", \"POUPANÇA\", \"POUPANCA\", \"Transferência enviada pelo Pix\", \"APLICAÇÃO(S)\", \"TRANSFERENCIA DA POUPANCA\", \"RESGATE\", \"CDB\", \"FUNDOS\", \"REND.\", \"RENDA VARIÁVEL\", \"PIX ENVIADO\", \"COMPRA CARTÃO\", \"PAGAMENTO\", \"PIX-ENVIADO\" (qualquer referência a aplicações/investimentos).\n- Saldos: \"SALDO\", \"SALDO ANTERIOR\", \"SALDO FINAL\", \"SALDO PARCIAL\", \"SALDO DO DIA\", \"Saldo do dia\".\n- Saídas/pagamentos: \"PAGAMENTO\", \"TARIFA\", \"COMPRA\", \"SAQUE\", \"TRANSFERÊNCIA ENVIADA\",\"Compra com Cartão \", \"Pagamento de Boleto\",\"Pix - Enviado\", \"RFB - PAGAMENTO DARF/RFB\".\n\nAgrupamento por mês:\n- Agrupe lançamentos por mês a partir da data da transação.\n- Se o extrato cobrir **3 meses**, entregue totais separados por mês e calcule a **média trimestral**.\n- Se cobrir 1 mês, entregar total mensal.\n\nIdentificação do titular:\n- Procure cabeçalhos como \"Nome:\", \"Titular:\", \"Cliente:\", \"Nome do titular\", \"TITULAR:\", etc.\n- Se encontrado, use esse nome; se não, coloque \"Nome do cliente: não identificado\" e reduza o nível de certeza.\n\nFormato de saída (obrigatório — seja sucinto):\n- Para 1 mês:Nome do cliente: [nome ou \"não identificado\"]\nRenda calculada: R$ [valor total, 2 decimais]\n\nCritérios: [breve descrição dos valores somados e dos que foram excluídos — ex.: \"incluiu PIX 01/09 R$ 1.200,00; depósito 05/09 R$ 500,00; excluiu rendimento poupança R$ 12,34\"]\n\nNível de certeza: [Alto / Médio / Baixo] — [justificativa curta: ex.: \"Alto: 100% dos lançamentos incluídos são claramente identificados como entradas\"]\n\nObservação: [opcional — ex.: \"Extrato incompleto: faltam dias 20-30/09\"] <-- somente se aplicável- Para 3 meses:Nome do cliente: [nome ou \"não identificado\"]\nMês 1 (YYYY-MM): R$ [valor]\nMês 2 (YYYY-MM): R$ [valor]\nMês 3 (YYYY-MM): R$ [valor]\nMédia trimestral: R$ [valor, 2 decimais]\nNível de certeza: [Alto / Médio / Baixo] — [justificativa curta]\nObservação: [opcional]\n\nCálculo do nível de certeza (regra objetiva):\n1. Calcule total_included = soma(unambiguous_incoming + ambiguous_incoming).\n2. ambiguous_ratio = soma(ambiguous_incoming) / total_included (se total_included = 0, certeza = Baixo).\n3. Base:\n   - ambiguous_ratio ≤ 0.10 → base = Alto\n   - 0.10 < ambiguous_ratio ≤ 0.25 → base = Médio\n   - ambiguous_ratio > 0.25 → base = Baixo\n4. Ajustes:\n   - Se nome não identificado → rebaixa um nível (Alto→Médio, Médio→Baixo).\n   - Se houver \"Extrato incompleto\" detectado → limitar a certeza máxima a Médio e incluir Observação.\n5. A justificativa apresentada junto ao nível deve informar o percentual aproximado de valor ambíguo e a razão da rebaixa (ex.: \"Médio: 18% do total vem de lançamentos sem descrição clara; nome não identificado\").\n\nRegras de conteúdo e estilo:\n- Seja direto e técnico. Não acrescente explicações longas. Use apenas o formato solicitado.\n- Quando houver ambiguidade em valores ou descrições, inclua isso brevemente na seção \"Critérios\" e na justificativa do \"Nível de certeza\".\n- Se detectar transações em outra moeda, ANCORA: se o extrato indicar moeda diferente, **indique na Observação** e devolva o cálculo só se houver taxa de câmbio explícita; caso contrário informe \"Conversão de moeda necessária\" na Observação.\n\nExemplo (entrada simplificada):\n[trecho do extrato]\n10/09/2025 - PIX RECEBIDO - R$ 1.200,00\n05/09/2025 - DEPÓSITO IDENTIFICADO - R$ 500,00\n03/09/2025 - RENDIMENTO POUPANÇA - R$ 12,34\nSaldo final: R$ 5.000,00\nNome: ELIAS DA SILVA PEREIRA\nExemplo (saída esperada):\nNome do cliente: ELIAS DA SILVA PEREIRA\nRenda calculada: R$ 1.700,00\nNível de certeza: Alto — todas as entradas incluídas são explicitamente identificadas como entradas.\n-----------------------------------\nFim do prompt.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        80
      ],
      "id": "62716cd5-9424-4e73-82c9-086467080c28",
      "name": "Calcula renda a partir do extrato",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "Extração dos dados de PDF OCR pelo Mistral",
        "height": 272,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7cae4303-7418-4879-b4a8-48bd635d0edd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Junta dados de varias paginas em um só objeto",
        "height": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        0
      ],
      "typeVersion": 1,
      "id": "8d54c875-cde2-4ba2-9ded-36fc712c06f2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "To-Do\n- Aplicar fluxo para extratos que são imagens (analisar ao receber o arquivo, o tipo, e definir um novo caminho de extração para img)\n- Melhorar o chat com IA.\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        272
      ],
      "typeVersion": 1,
      "id": "13d241cf-4b97-4aab-9741-16803723f694",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Sou a Mogui, sua assitente de analise de renda",
        "options": {
          "allowFileUploads": true,
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        80
      ],
      "id": "065c0567-8a8f-47dd-b049-8a4bfe99ada4",
      "name": "When chat message received",
      "webhookId": "b31b29e0-769c-45ea-81ad-3b61cbd58722"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        256
      ],
      "id": "b38864e2-f186-4bf3-b6cd-a5070b2e34b4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RUEmAfCWDEinEfWW",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Concatena paginas geradas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatena paginas geradas": {
      "main": [
        [
          {
            "node": "Calcula renda a partir do extrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Calcula renda a partir do extrato",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calcula renda a partir do extrato",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d28d9cf9-30cf-4994-9903-12dc7118ecb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "660643d1f574e452340b0eb6aab9e7aae464846854186887ef6a8d6b7f2f7cde"
  },
  "id": "l481iAFBFAQ00Sfr",
  "tags": []
}