Backup N8N/RAG infos imob.json
{
  "name": "RAG infos imob",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://wiki.fueltech.local/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGkiOjMsImdycCI6MSwiaWF0IjoxNzU4NjY0ODA4LCJleHAiOjE3OTAyMjI0MDgsImF1ZCI6InVybjp3aWtpLmpzIiwiaXNzIjoidXJuOndpa2kuanMifQ.fQxzhUEj9i_NIP9d1d-aZJ87bcTXPupJ6Lg3XB0n3F4mPGqc-VxaxpNpEke7gtJdpag2vLwcrGPq4_xi-q6TJSBOoR317gG04_ytpCEjcM_4yJjlC-FMQ5pdrQNX7GbMgvAOgBzcJ4o-5Z6u3KmRAos_njvvVxFU93mtDu9Edgax2CGxsXWjJ1I9SATIC654cjgIBL3M_ePGrzjYLEA3AIj30G44U7oRmAmhub0-wHi_l9G4-5WMBKw5O3DVVbRWQRFcVAtkT7g1dUJcENTVQ_zjTJspLlxjZDgwCk3Nky1TyAvniYXTW1bNfZVWJ997FYHKifqcVzguYkS79kT4hg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query { pages { list(orderBy: TITLE) { id path title isPublished updatedAt } } }"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        576
      ],
      "id": "e4fbaab9-ea5f-49f9-8877-ce43cc42dd37",
      "name": "Request All pages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wiki.fueltech.local/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGkiOjMsImdycCI6MSwiaWF0IjoxNzU4NjY0ODA4LCJleHAiOjE3OTAyMjI0MDgsImF1ZCI6InVybjp3aWtpLmpzIiwiaXNzIjoidXJuOndpa2kuanMifQ.fQxzhUEj9i_NIP9d1d-aZJ87bcTXPupJ6Lg3XB0n3F4mPGqc-VxaxpNpEke7gtJdpag2vLwcrGPq4_xi-q6TJSBOoR317gG04_ytpCEjcM_4yJjlC-FMQ5pdrQNX7GbMgvAOgBzcJ4o-5Z6u3KmRAos_njvvVxFU93mtDu9Edgax2CGxsXWjJ1I9SATIC654cjgIBL3M_ePGrzjYLEA3AIj30G44U7oRmAmhub0-wHi_l9G4-5WMBKw5O3DVVbRWQRFcVAtkT7g1dUJcENTVQ_zjTJspLlxjZDgwCk3Nky1TyAvniYXTW1bNfZVWJ997FYHKifqcVzguYkS79kT4hg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=query { pages { single(id:{{ $json.item.id }}) { id title path content createdAt updatedAt } } }"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        576
      ],
      "id": "55ef514a-4996-42b0-a65b-4231e9f30db5",
      "name": "Request page content"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        368
      ],
      "id": "b131fae9-ed14-4a98-b675-93368d21608a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.pages.list",
        "options": {
          "destinationFieldName": "item"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1808,
        576
      ],
      "id": "34aae652-2712-4ea5-b0ec-ba82e7a7369c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.pages.single.content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1408,
        576
      ],
      "id": "e14ac54d-8879-4af3-98f2-770772a8074f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data[0].text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -720,
        736
      ],
      "id": "72ccffba-f490-4e5d-be3b-5f0a39533874",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Você é um assistente que responde perguntas usando de preferência o conteúdo da Wiki interna ou o manual da PowerFT. \nUse as ferramentas \"WikiVectorStore\" e \"PFTManualVectorStorte\" sempre que precisar buscar informações.\n\n* Use a técnica de RAG consultando suas bases de conhecimento. \n* Indique de qual base usou a resposta;\n\n* conteúdos que você tem acesso:\n - Manual da PowerFT - Detalha todo o funcionamento das funções da powerFT, especificações elétricas dos produtos da linha, métodos de instalação de periféricos e tudo relacionado ao funcionamento do produto.\n - Wiki Interna do P&D - São conteúdos em forma de tutoriais e conhecimanto compartilhado, documentação de funções detalhadas, procedimetnos internos do setor.\n\nResponda somente com base nos trechos retornados pela ferramenta, resumindo-os quando necessário. \nSe a Wiki ou o manual não contiver a resposta, diga claramente que a informação não está documentada e evite inferências. \nUse a sua memoria de chat para direcionar a busca dentro da base de conhecimento e ter o contexto sobre o que se está perguntando, mas tenha em vista que a pergunta por ser totalemte nova e não servir de contexto de busca,"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2999c5c6-f440-4d59-b78f-ec06fcfeafa9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "showWelcomeScreen": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        64
      ],
      "id": "feb6e628-e03d-48e1-b544-2315fad79305",
      "name": "When chat message received",
      "webhookId": "5a7788da-5381-4819-a867-17a8f682112a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        224
      ],
      "id": "d27b53c5-bbb1-422e-82a6-491cca211236",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ceUZiysXMZ94GV1w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        752
      ],
      "id": "9f3d78c9-a902-49d7-a855-ce679215aca6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ceUZiysXMZ94GV1w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        224
      ],
      "id": "31348cca-6bca-4714-ba09-912ff00b95e0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "embeddingBatchSize": 300,
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -816,
        576
      ],
      "id": "22b79eb9-d929-4a31-88fa-3842a2365dc0",
      "name": "Input data"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta a base de conhecimento da Wiki interna. \nDeve ser usada sempre que houver uma dúvida ou pergunta que possa estar documentada na Wiki. \nRetorna trechos relevantes de texto, sem inferir ou inventar informações adicionais.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "topK": 20
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -352,
        1008
      ],
      "id": "d80c7f31-7e86-4b0f-9b40-ae26c26b8f42",
      "name": "WikiVectorStore"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1FGSzIOIQyceTXb0rf9AFqhT05VigFeL6/view?usp=sharing",
          "mode": "url"
        },
        "options": {
          "binaryPropertyName": "data",
          "fileName": "Manual"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2000,
        208
      ],
      "id": "39bd2ddc-cf37-4598-a05c-1d0d41956789",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qruKAgsmWEdatd60",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1792,
        208
      ],
      "id": "823d5eac-f9f7-4e67-bc62-f701e4c6a31b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1040,
        576
      ],
      "id": "0a6d3900-5dc5-4067-a2ee-eee3807a2874",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6c992f1-bf2f-4411-9c1a-3e187f7adbc5",
              "name": "pdf_content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        208
      ],
      "id": "7a9db600-7d50-418e-abcd-38394e222393",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data1",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1392,
        208
      ],
      "id": "fb17c66b-c75b-407f-8aab-5b772a41a4e6",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "VectorManual",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -944,
        64
      ],
      "id": "bd22d5f0-0baa-4317-9dbb-9af27da51464",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1024,
        272
      ],
      "id": "91d25f67-6573-44b7-aa12-f6332345035c",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "ceUZiysXMZ94GV1w",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data1[0].pdf_content }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -816,
        208
      ],
      "id": "9ac39fa5-46f5-40e3-8d5b-f1716fe4f425",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta a base de conhecimento do manual da PowerFT. \nDeve ser usada sempre que houver uma dúvida ou pergunta que possa estar documentada no manual. \nRetorna trechos relevantes de texto, sem inferir ou inventar informações adicionais.",
        "memoryKey": {
          "__rl": true,
          "value": "VectorManual",
          "mode": "list",
          "cachedResultName": "VectorManual"
        },
        "topK": 20
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -320,
        528
      ],
      "id": "58ab7a4e-47eb-4855-b5ff-48987720d30b",
      "name": "PFTManualVectorStore"
    },
    {
      "parameters": {
        "content": "## Extrai dados do manual da PFT armazenado em uma pasta do Drive",
        "height": 304,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        64
      ],
      "typeVersion": 1,
      "id": "93d54b2f-f602-4929-b784-5ad67adf6dca",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Extrai dados da Wiki interna do P&D",
        "height": 304,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        496
      ],
      "typeVersion": 1,
      "id": "2daf3910-15ad-4e83-88da-6da40aea6024",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    // Pega o campo content ou text, dependendo de onde está\n    let raw = item.json.content || item.json.text || \"\";\n\n    // Garante que é string\n    let text = String(raw);\n\n    // 1️⃣ Remove todas as tags HTML\n    text = text.replace(/<\\/?[^>]+(>|$)/g, \" \");\n\n    // 2️⃣ Converte entidades HTML comuns\n    text = text\n        .replace(/&nbsp;/g, \" \")\n        .replace(/&lt;/g, \"<\")\n        .replace(/&gt;/g, \">\")\n        .replace(/&amp;/g, \"&\")\n        .replace(/&quot;/g, '\"')\n        .replace(/&#39;/g, \"'\");\n\n    // 3️⃣ Remove excesso de espaços e múltiplas quebras de linha\n    text = text.replace(/\\s+/g, \" \").trim();\n\n    return {\n        json: {\n            id: item.json.id || null,\n            title: item.json.title || null,\n            text: text\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        576
      ],
      "id": "978b7d2b-40f3-4818-9c6e-bf121a52ef69",
      "name": "Remove Markdown"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -448,
        848
      ],
      "id": "ea4b3525-884a-4472-a715-74ec6e8fe886",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -560,
        336
      ],
      "id": "1bd511af-90d3-4bd1-8c8d-24ec5142c483",
      "name": "Recursive Character Text Splitter1"
    }
  ],
  "pinData": {},
  "connections": {
    "Request All pages": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Request All pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Request page content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request page content": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Remove Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Input data",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "WikiVectorStore",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Input data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WikiVectorStore": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Input data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "PFTManualVectorStore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "PFTManualVectorStore": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove Markdown": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f35e7776-c5d7-4773-b056-92f201e5c1a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b7799738b289714b82809e333d8afdd1f65aa5c26837c9bb450a46d4b9596c1"
  },
  "id": "puQtEz2GjyYqexvP",
  "tags": []
}